@using BlogCore.EFWork.Entity

<div class="container">
    <nav class="blog-nav">
        @if (ViewData["list"] != null)
        {
            <a class="blog-nav-item active" href="/Home/Index">首页</a>
            foreach (var item in (ViewData["list"] as List<Menus>))
            {
                <a class="blog-nav-item" href="/home/index/@item.Id">@item.MenuName</a>
            }
        }
    </nav>
</div>
